* {
    padding: 10;
    margin: 10;
}

body {
    line-height: 1.6em;
    background-color: #f2eeec;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #333;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url("sun.png");
    background-repeat: repeat-x;
    background-size: 3%;
}

a:link {
    text-decoration-line: underline;
    color: rgb(231, 84, 128);
}

a:visited {
    text-decoration: underline;
    color: rgb(231, 84, 128);
}

a:hover {
    text-decoration: underline;
    color: rgb(231, 84, 128);
}

a:active {
    text-decoration: underline;
    color: rgb(231, 84, 128);
}

h1 { 
    font-size: 3em;
    line-height: 0em;
    font-weight: 600;
    color: rgb(231, 84, 128);
}

h4 {
    color: rgb(231, 84, 128);
}

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}

ul#mainNav {
    list-style-type: circle;
}

img {
    width: 50%;
    height: 0%;
}

header {
    text-transform: uppercase;
    text-align: right;
}

footer {
    text-decoration: underline;
    color: #F2F0EF;
    text-align: center;
    background-image: url("footer-background.jpeg");
}