* {
    padding: 0;
    margin: 0;
}

#wrapper {
    width: 100%;
    margin: auto;
    }

body {
    line-height: 1.6em;
    background-color: #f2eeec;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #333;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url("sun.png");
    background-repeat: repeat-x;
    background-size: 3%;
}

a:link {
    text-decoration-line: underline;
    color: rgb(231, 84, 128);
}

a:visited {
    text-decoration: underline;
    color: rgb(231, 84, 128);
}

a:hover {
    text-decoration: underline;
    color: rgb(231, 84, 128);
}

a:active {
    text-decoration: underline;
    color: #e75480;
}

h1 { 
    font-size: 3em;
    line-height: 2em;
    font-weight: 600;
    color: rgb(231, 84, 128);
}

h4 {
    color: rgb(231, 84, 128);
    text-align: right;
}

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}

ul#mainNav {
    list-style-type: none;
    display: flex;
    float: right;
    padding: 10%;
    gap: 100px;
    margin: 0%;
}

#container {
    width: 80%;
    margin: auto;
    position: relative;
}

img {
    width: 85%;
    height: 0%;
    padding-bottom: 3%;
}

.header {
    width: 100%;
    margin: 0%;
    padding: 0%;
    position: absolute;
    text-align: left;
    overflow: auto;
}

nav {
    width: 250%;
    margin: 0%;
    padding: 0%;
    position: absolute;
    z-index: 0%;
    text-transform: uppercase
}

.footer {
    width: 100%;
    margin: 0%;
    padding: 0%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: -10;
    text-decoration: underline;
    text-align: left;
}

.columns {float:left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.height {
    height: 30em;
}

.relative {
    position: relative;
    top: 4em;
    left: 4em;
    z-index: -1;
}

.absolute {
    position: absolute;
    top: 4em;
    right: 4em;
    z-index: -1;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    float: none;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.clear-left {
    clear:left;
}

.pink {
    background-color: #e75480;
}

.peach {
    background-color: #ff6b51
}

.orange {
    background-color: #ffa13d
}

.yellow {
    background-color: #ffd651
}

.green {
    background-color: #80d354
}

.p {
    margin: none;
    text-align: left;
}

.div {
    box-sizing: border-box;
    /* border: 1px black; */
}

.textPad {
    padding-right: 70%;
}